@CHARSET "UTF-8";
/* footer */
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

		footer {
			position: relative;
			font-family: 'Jeju Gothic', sans-serif;
			width: 1100px;
			margin: 0 auto;
			background: rgba(0,0,0,0.03);
			padding: 10px;
			text-align: center;
			color: #555;
		}
		
		
		footer h3 {
			color: #222;

		}

		footer ul {
			padding: 0;
		}

		footer li {
			padding: 10px;
			list-style: none;
		}

		footer div {
			width: 960px;
			margin: 0 auto;
		}
		
		footer div:after{
			clear: both;
			display: block;
			content: '';
		}
		
		footer div div {
			float: left;
			background: rgba(0,0,0,0.0);
			width: 200px;
			margin: 20px;
			/*border-radius: 10px;
			border-top: 2px solid #fff;
			border-bottom: 2px solid #fff;
			box-shadow: 10px 10px 10px #000;*/
		}

		a:link {
			color:#555;
			text-decoration: none;
		}

		a:hover {
			color:#555;
			text-decoration: none;
		}

		a:visited {
			color:#555;
			text-decoration: none;
		}
		
		footer .info {
			font-size:12px;
			text-align:left;
			margin-left:250px;
		}

		footer .footerIcon {
			position: absolute;
			width: 200px;
			bottom: 30px;
			left: 870px;
		}
		footer .img1{
			float:left;
			width: 80px;
		}
		.iconSub{
			position: absolute;
			display: none;
			top: -40px;
			left: 20px;
			width: 100px;
			font-size: 20px;
		}