div.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 15px;
    font-size: 60px;
    line-height: 20px;
}
div.container-fluid{
	padding-top: 40px;
}
.nav{
	font-size : 22px;
}