<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
<display-name>GiveMe</display-name>

<servlet>
        <servlet-name>FrontController</servlet-name> <!--  서블릿이름  --> 
        <servlet-class>controller.common.FrontController</servlet-class> <!--  셋팅된 클래스  -->   
</servlet>


  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>  
    <!--  아래 확장자 파일을 만나면, 이 이름을 가진 파일로 가라  -->
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>


